.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

.container {
  --max-width: 375px;
  /* pego 375px como valor minimo ate 100% menos o valor do padding da page */
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
  border: 2px solid pink;
}

/*  criando uma variavel para apenas desktop e desativando*/
.desktop-only {
  display: none;
}

/* aplicando grid block em mobile */
.even-columns {
  display: grid;
  gap: 1rem;
}

/* desktop device */
@media (width >= 80em) {
  .container {
    --max-width: 80rem;
  }

  /*  ativando a variavel desktop na tela */
  .desktop-only {
    display: initial;
  }

  /* aplicando grid inline em desktop */
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

}
